body {
    background-color: rgb(0, 255, 247);
}

h1 {
    color: firebrick;
}

p {
    color: rgb(47, 113, 255);
    border: 5px solid rgb(255, 0, 0);
    font-size: x-large;
}
 .para2 {
            color: green;
            background-color: rgb(186, 210, 30);
        }